<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  function callAjax() {
    var pincode = $('#pincode').val();
    if ($('#pincode').val().length != 6) {

      $('#city').val('');
      $('#state').val('');
    }
    else {
      $.ajax({
        url: "pincodeAjax/",
        type: "POST",
        data: "pincode=" + pincode,
        success: function (obj) {
          if (obj == '') {
            $('#city').val('');
            $('#state').val('');
          }
          $('#city').val(obj.city);
          $('#state').val(obj.state);
        },
        error: function () {
          $('#city').val('');
          $('#state').val('');
        },
      })
    }

  }
</script>


<section class="login flex">

  <div id="band" class="min-h-full w-96 flex items-cente justify-center py-12 px-4 sm:px-6 lg:px-2">
    <div class="modal-content max-w-lg w-full space-y-8">
      <div>
        <h2 class="m-6 text-center text-lg font-extrabold text-gray-900 underline">
          Verify credentials
        </h2>
      </div>

      <% if(messages.success) { %>
        
        <span class="text-red-600 text-xs mt-1 text-center font-medium">
          <%= messages.success%>
        </span>
        <% } %>

          <form class="mx-auto" action="/send-otp-on-phone" method="POST">
            <div class="mt-4">
              <div>
                <label for="phone" class="sr-onl block mb- text-sm font-semibold text-gray-500">Phone</label>
                <div class="mt-1" style="display: flex; align-items: center;">
                  <span class="absolute z-20 sm:text-sm left-20">+91-</span>
                  <input id="phone" name="phone" value="<%= messages.phone%>" type="tel" required 
                  class="appearance-none rounded-none rounded-md relative block w-full px-12 py-2 border placeholder-gray-500 text-gray-900 focus:outline-none focus:z-10 sm:text-sm"
                  pattern="[0-9]{10}" placeholder="945xxx5x20">
                </div>
                
              </div>

              <div class="mt-4">
                <label for="email" class="sr-onl block mb- text-sm font-semibold text-gray-500">Email</label>
                <input id="email" name="email" value="<%= messages.email%>" type="text" required
                  class="appearance-none mt-1 rounded-none rounded-md relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="username@domain.com">
              </div>

              <button type="submit"
                class="sentOtp mt-5 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Get OTP
              </button>

            </div>
          </form>

    </div>
  </div>


<div id="ideal" class="py-3 px-4 w-8/12 sm:px-6 lg:px-8" style="display: non;">

  <div class="modal-content animate rounded-xl">
    <div>
      <h2 class="m-10 text-center text-3xl font-extrabold text-gray-900 underline">
        Create Account
      </h2>
    </div>



    <div class="w-3/4 flex mx-auto">

      <% if(messages.error) { %>
      <span class="text-red-600 text-xs mx-auto text-center font-medium">
        <%= messages.error%>
      </span>
      <% } %>

              
      <% if(messages.OnRegisterDone) { %>
        <script>
          swal("User Successfully Registered", "Thank you", "success")
        </script>
       <% } %>


    </div>

    <form class="flex justify-center w-full mx-auto" action="/register" method="POST">
      <div class="pb-12 border-gray-500">

        
            <div class="space-x-0 lg:flex lg:space-x-4 mt-2">
              <div class="w-full lg:w-80 mt-4">
                <label for="institution-name" class="sr-onl block mb- text-sm font-semibold text-gray-500">Organization's name</label>
                <input id="institution-name" name="institutionName" value="<%= messages.institutionName%>" type="text"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Institution name">
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="username" class="block mb- text-sm font-semibold text-gray-500">
                  Name</label>
                <input id="user-name" name="name" value="<%= messages.name%>" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Full name">
              </div>
            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-">

              <div class="w-full lg:w-80 mt-4">
                <label class="block mb- text-sm font-semibold text-gray-500" for="phone">Phone</label>
                <input id="phone" name="phone" type="tel" pattern="[0-9]{10}" value="<%= messages.phone%>" type="text"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Phone">
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="email" class="block mb- text-sm font-semibold text-gray-500">
                  Email</label>
                <input id="email-address" name="email" value="<%= messages.email%>" type="email" autocomplete="email"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Email">
              </div>

            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-">

              <div class="w-full lg:w-80 mt-4">
                <label for="notp" class="block mb- text-sm font-semibold text-gray-500">Phone
                  OTP*</label>
                <input id="otp" name="otp" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="verification code">
              </div>



              <div class="w-full lg:w-80 mt-4">
                <label for="eotp" class="block mb- text-sm font-semibold text-gray-500">
                  Email OTP*</label>
                <input id="eotp" name="eotp" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="verification code">
              </div>

            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-">

              <div class="w-full lg:w-80 mt-4">
                <label for="RegisteredAs" class="block mb- text-sm font-semibold text-gray-500">
                  Register as</label>
                <select name="role" class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm">
                  <option value="customer">User</option>
                  <option value="vendor">Vendor & Other</option>
                </select>
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="password" class="block mb- text-sm font-semibold text-gray-500">
                  Password  
    
      <% if(messages.password) { %>        
        <span style="font-size: 8px;" class="ml-1 text-red-600 text-xs mx-auto text-center font-medium">(Must contain atleast 1 of Upper-Case, Lower-Case Letter, Number & Sepcial Charcter)      
          <%= messages.password%>
        </span>
      <% } %>
                </label>
                <input id="password" name="password" type="password" autocomplete="current-password" required
                  class="appearance-non rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Example: Jai@1105"><span onclick="myFunction()" class="eye"><i class="fa fa-eye-low-vision"></i></span> 
              </div>

            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-">

              <div class="w-full lg:w-80 mt-4">
                <label for="designation" class="block mb- text-sm font-semibold text-gray-500">
                  Designation</label>
                <input id="user-designation" name="designation" onkeypress="return /[0-9a-zA-Z]/i.test(event.key)" value="<%= messages.designation%>" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Designation">
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="pincode" class="block mb- text-sm font-semibold text-gray-500">
                  Area Pincode</label>
                <input id="pincode" name="pincode" value="<%= messages.pincode%>" type="text" required  pattern="[0-9]{6}" minlength="6" maxlength="6"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57" onkeyup="callAjax()"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Area pincode">
              </div>
            </div>
            <div class="space-x-0 lg:flex lg:space-x-4 mt-">

              <div class="w-full lg:w-80 mt-4">
                <label for="city" class="block mb- text-sm font-semibold text-gray-500">
                  City</label>
                <input id="city" name="city" type="text" required readonly="readonly" value="<%= messages.city%>"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder=>
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="state" class="block mb- text-sm font-semibold text-gray-500">
                  State</label>
                <input id="state" name="state"  type="text" required readonly="readonly" value="<%= messages.state%>"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm">
              </div>
            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-">
              <div class="w-full mt-4">
                <label for="address" class="sr-onl block mb- text-sm font-semibold text-gray-500">Address</label>
                <textarea class="w-full px-4 py-3 text-xs border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
                  name="address" value="<%= messages.address%>" type="text" required cols="20" rows="3"
                  placeholder="Address"></textarea>
              </div>
            </div>

            <div class="flex items-center justify-between m-3">
              <!-- <a class="cursor-pointer px-4 py-2 ml-10 rounded-full text-white text-sm font-bold btn-primary" href="#band">Resend Otp</a> -->
              <span></span>
              <div class="text-sm">
                Already have account? <a href="/login" class="font-bold font-medium">
                  Login
                </a>
              </div>
            </div>

            <div class="mt-1">
              <button type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                 
                  <svg class="h-5 w-5 text-white-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
                Register
              </button>
            </div>

      </div>

    </form>
  </div>
</div>


</section>






<script>
  function myFunction() {
    var x = document.getElementById("password");

    if (x.type === 'password') {
      x.type = "text";
    }
    else
      x.type = "password";
  }
</script>