<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/gallery.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">


  <!----===== Google fonts ===== -->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat+Alternates:wght@200&family=Poiret+One&display=swap"
    rel="stylesheet" />
  <!----===== line-awesome CSS ===== -->
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
  <!----===== Boxicons CSS ===== -->
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/style.css" />
  <!-- <link rel="stylesheet" href="/css/global.css"/> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>

  <!-- autocomplete jquery for search-bar  -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

  <title> Eqipped | We make science lab for you</title>
</head>


<body>

  <% if(user) { %>
    <nav class="sidebar close">
      <header>
        <i class='bx bx-chevron-right toggle'></i>
      </header>

      <div class="menu-bar">
        <div class="menu">



          <ul class="menu-links">
            <li class="nav-link">
              <a href="/">
                <i class='bx bx-home-alt icon'></i>
                <span class="text nav-text">Home</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="/cart">
                <span id="cartCounter" class="font-bold icon">
                  <%= session.cart ? session.cart.totalQty : '' %>
                    <i class='bx bx-cart-alt ico'></i>
                </span>
                <span class="text nav-text">My Cart</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/customer/orders">
                <i class="icon fa-brands fa-first-order-alt"></i>
                <span class="text nav-text">My Orders</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class='bx bx-bell icon'></i>
                <span class="text nav-text">Notifications</span>
              </a>
            </li>



            <% if(user.role=='admin' ) { %>
              <li class="nav-link">
                <a href="/adminpanel">
                  <i class='bx bxs-user-pin icon'></i>
                  <span class="text nav-text">Admin Panel</span>
                </a>
              </li>
              <% } %>


                <% if(user.role=='vendor' && user.role!='admin' ) { %>
                  <li class="nav-link">
                    <a href="/addproduct">
                      <i class='bx bx-plus icon'></i>
                      <span class="text nav-text">List Product</span>
                    </a>
                  </li>

                  <li class="nav-link">
                    <a href="/vendor/listedProduct">
                      <i class='bx bx-store-alt icon'></i>
                      <span class="text nav-text">Edit Product</span>
                    </a>
                  </li>
                <% } %>
                

                

                    <% if(user.isverified!='Yes' && user.role!='admin') { %>
                      <li class="nav-link">
                        <a href="/documentupload">
                          <i class='bx bx-user icon'></i>
                          <span class="text nav-text">Complete Profile</span>
                        </a>
                      </li>
                      <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <section class="home">

      <% } %>

        <nav class="bg-white border-gray-200 px-2 sm:px-4 py-5 md:py-2.5 rounded dark:bg-gray-800">
          <div class="container flex flex-wrap justify-evenly items-center mx-auto">
            <a href="/" class="flex items-center">
              <img src="/img/NavLogoC.png" class="mr-0 h-14" alt="Equipped Logo">
            </a>

            <% if(user) { %>
              <div class="flex items-center md:order-2">
                <div class="flex justify-center items-center space-x-3 cursor-pointer">
                  <button id="dropdownButton" data-dropdown-toggle="dropdown"
                    class="w-12 h-12 rounded-full overflow-hidden border dark:border-white border-gray-900"
                    type="button"><img class="w-full h-full object-cover" src="/img/melchor.png" alt="user photo">
                  </button>

                  <!-- <div class="font-semibold dark:text-white text-gray-900 text-lg">
                    <div class="cursor-pointer">
                      <%= user.name %>
                      <%= user.role %>
                    </div>
                  </div> -->
                </div>

                <div id="dropdown"
                  class="hidden z-10 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 w-48 px-5 py-3">
                  <ul class="space-y-3 dark:text-white py-1" aria-labelledby="dropdownButton">
                    <li class="font-medium pt-1">
                      <a href="#"
                        class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
                        <div class="mr-3">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                          </svg>
                        </div>
                        <div>
                          <%= user.name %><% if(user.isverified =='Yes' ) { %> <img src="https://img.icons8.com/material-outlined/24/000000/verified-account.png"/><% } %> <br>
                          <span style="font-size: 10px;">(Registered as <%= user.role %>)</span>
                        </div>
                      </a>
                    </li>
                    <!-- <li class="font-medium pt-1">
                      <a href="#"
                        class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
                        <div class="mr-3">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                          </svg>
                        </div>
                        Account
                      </a>
                    </li> -->
                    <!-- <li class="font-medium pt-1">
                      <a href="#"
                        class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
                        <div class="mr-3">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                          </svg>
                        </div>
                        Setting
                      </a>
                    </li> -->


                    <li class="font-medium py-2">
                      <a href="/edit/<%= user._id %>"
                        class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
                        <div class="mr-3">
                          <!-- <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                          </svg> -->
                          <i style="font-size: 19px;" class="fa-solid fa-user-pen pl-1"></i>
                        </div>
                        Edit Profile
                      </a>
                    </li>


                    <hr class="dark:border-gray-700">
                    <li class="font-medium">
                      <form id="logout" action="/logout" method="POST">
                        <a href="#" onclick="document.getElementById('logout').submit()"
                          class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-red-600">
                          <div class="mr-3 text-red-600">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                              </path>
                            </svg>
                          </div>
                          Logout
                        </a>
                      </form>
                    </li>
                  </ul>
                </div>





                <button data-collapse-toggle="mobile-menu-2" type="button"
                  class="inline-flex items-center p-3 ml-8 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                  aria-controls="mobile-menu-2" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg>
                </button>
              </div>

              <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
                <ul class="flex justify-center"
                  class="flex flex-col mt-8 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                  <li>
                    <a href="/allcategory" class="block font-bold py-5 md:py-2 pr-4 pl-3">All Categories</a>
                  </li>
                  <li class="px-2">
                  </li>
                </ul>
                <div id="container" style="margin: 15px;">
                  <div class="search-oyo flex justify-center">
                    <form action="/allcategory/products" method="post">
                      <input type="text" id="searchProduct" placeholder="Search..." name="search" class="searchbar">
                      <button type="submit" class="search_button"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </div>
                <!-- <span class="ml-8"><a href="/cart">Cart hai apun</a></span> -->
              </div>
              <% } else { %>
                <ul>
                  <li class="ml-14 font-bold"><a href="/register">Register </a>
                    <!-- <a href="/login"> Login</a> -->
                  <a class="cursor-pointer px-4 py-2 ml-5 rounded-md text-white text-sm font-bold btn-primary" href="/login">Login</a>
                  </li>
                </ul>
                <% } %>
        </nav>



        <%- body %>





          <footer class="px-4 divide-y bg-gray-100">
            <div class="
            container
            flex flex-col
            justify-between
            py-5
            mx-auto
            space-y-4
            lg:flex-row lg:space-y-0
      ">
              <div class="lg:w-1/3">
                <a rel="noopener noreferrer" href="#" class="flex justify-center space-x-3 lg:justify-start">
                  <div class="
              flex
              items-center
              justify-center
              rounded-full
              dark:bg-violet-400
            ">
                    <img src="/img/NavLogoC.png" class="mb-1 h-12" alt="Eqipped Logo" />
                  </div>
                </a>
              </div>
              <div class="
          grid grid-cols-2
          text-sm
          gap-x-3 gap-y-8
          lg:w-2/3
          sm:grid-cols-4
        ">
                <div class="space-y-3 text-center">
                  <h3 class="text-xl font-bold mb-2">Product</h3>
                  <ul class="space-y-1 list-none footer-links">
                    <li class="mb-2">
                      <a href="#" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Resource</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Resource name</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Another resource</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Final resource</a>
                    </li>
                  </ul>
                </div>
                <div class="space-y-3 text-center">
                  <h3 class="text-xl font-bold mb-2">Company</h3>
                  <ul class="space-y-1 list-none footer-links">
                    <li class="mb-2">
                      <a href="/privacy-policy" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Privacy & Policy</a>
                    </li>
                    <li class="mb-2">
                      <a href="/term-condition" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Terms & conditions</a>
                    </li>
                  </ul>
                </div>
                <div class="space-y-3 text-center">
                  <h3 class="text-xl font-bold mb-2">Developers</h3>
                  <ul class="space-y-1 list-none footer-links">
                    <li class="mb-2">
                      <a href="#" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Public API</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Documentation</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="
                  border-b border-solid border-transparent
                  hover:border-black hover:text-orange-800
                ">Guides</a>
                    </li>
                  </ul>
                </div>
                <div class="space-y-3 text-center">
                  <div class="text-xl font-bold mb-2">Social media</div>
                  <div class="flex justify-center space-x-3">
                    <a rel="noopener noreferrer" href="#" title="Facebook" class="flex items-center p-1">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32"
                        class="black-5 h-5 fill-orange">
                        <path
                          d="M32 16c0-8.839-7.167-16-16-16-8.839 0-16 7.161-16 16 0 7.984 5.849 14.604 13.5 15.803v-11.177h-4.063v-4.625h4.063v-3.527c0-4.009 2.385-6.223 6.041-6.223 1.751 0 3.584 0.312 3.584 0.312v3.937h-2.021c-1.984 0-2.604 1.235-2.604 2.5v3h4.437l-0.713 4.625h-3.724v11.177c7.645-1.199 13.5-7.819 13.5-15.803z">
                        </path>
                      </svg>
                    </a>
                    <a rel="noopener noreferrer" href="https://twitter.com/eqipped_" target="_blank" title="Twitter"
                      class="flex items-center p-1">
                      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current">
                        <path
                          d="M23.954 4.569a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.691 8.094 4.066 6.13 1.64 3.161a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.061a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.937 4.937 0 004.604 3.417 9.868 9.868 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63a9.936 9.936 0 002.46-2.548l-.047-.02z">
                        </path>
                      </svg>
                    </a>
                    <a rel="noopener noreferrer" href="https://www.instagram.com/eqipped/" target="_blank"
                      title="Instagram" class="flex items-center p-1">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor"
                        class="w-5 h-5 fill-current">
                        <path
                          d="M16 0c-4.349 0-4.891 0.021-6.593 0.093-1.709 0.084-2.865 0.349-3.885 0.745-1.052 0.412-1.948 0.959-2.833 1.849-0.891 0.885-1.443 1.781-1.849 2.833-0.396 1.020-0.661 2.176-0.745 3.885-0.077 1.703-0.093 2.244-0.093 6.593s0.021 4.891 0.093 6.593c0.084 1.704 0.349 2.865 0.745 3.885 0.412 1.052 0.959 1.948 1.849 2.833 0.885 0.891 1.781 1.443 2.833 1.849 1.020 0.391 2.181 0.661 3.885 0.745 1.703 0.077 2.244 0.093 6.593 0.093s4.891-0.021 6.593-0.093c1.704-0.084 2.865-0.355 3.885-0.745 1.052-0.412 1.948-0.959 2.833-1.849 0.891-0.885 1.443-1.776 1.849-2.833 0.391-1.020 0.661-2.181 0.745-3.885 0.077-1.703 0.093-2.244 0.093-6.593s-0.021-4.891-0.093-6.593c-0.084-1.704-0.355-2.871-0.745-3.885-0.412-1.052-0.959-1.948-1.849-2.833-0.885-0.891-1.776-1.443-2.833-1.849-1.020-0.396-2.181-0.661-3.885-0.745-1.703-0.077-2.244-0.093-6.593-0.093zM16 2.88c4.271 0 4.781 0.021 6.469 0.093 1.557 0.073 2.405 0.333 2.968 0.553 0.751 0.291 1.276 0.635 1.844 1.197 0.557 0.557 0.901 1.088 1.192 1.839 0.22 0.563 0.48 1.411 0.553 2.968 0.072 1.688 0.093 2.199 0.093 6.469s-0.021 4.781-0.099 6.469c-0.084 1.557-0.344 2.405-0.563 2.968-0.303 0.751-0.641 1.276-1.199 1.844-0.563 0.557-1.099 0.901-1.844 1.192-0.556 0.22-1.416 0.48-2.979 0.553-1.697 0.072-2.197 0.093-6.479 0.093s-4.781-0.021-6.48-0.099c-1.557-0.084-2.416-0.344-2.979-0.563-0.76-0.303-1.281-0.641-1.839-1.199-0.563-0.563-0.921-1.099-1.197-1.844-0.224-0.556-0.48-1.416-0.563-2.979-0.057-1.677-0.084-2.197-0.084-6.459 0-4.26 0.027-4.781 0.084-6.479 0.083-1.563 0.339-2.421 0.563-2.979 0.276-0.761 0.635-1.281 1.197-1.844 0.557-0.557 1.079-0.917 1.839-1.199 0.563-0.219 1.401-0.479 2.964-0.557 1.697-0.061 2.197-0.083 6.473-0.083zM16 7.787c-4.541 0-8.213 3.677-8.213 8.213 0 4.541 3.677 8.213 8.213 8.213 4.541 0 8.213-3.677 8.213-8.213 0-4.541-3.677-8.213-8.213-8.213zM16 21.333c-2.948 0-5.333-2.385-5.333-5.333s2.385-5.333 5.333-5.333c2.948 0 5.333 2.385 5.333 5.333s-2.385 5.333-5.333 5.333zM26.464 7.459c0 1.063-0.865 1.921-1.923 1.921-1.063 0-1.921-0.859-1.921-1.921 0-1.057 0.864-1.917 1.921-1.917s1.923 0.86 1.923 1.917z">
                        </path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="py-2 text-sm text-center dark:text-coolGray-400">
              © 2022 <a class="font-bold" href=""> Gearloose Labs. </a>
            </div>
          </footer>

    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>


    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>



    <!-- autocomplete script for search-bar  -->
    <script>
      $(function () {
        $('#searchProduct').autocomplete({
          source: function (req, res) {
            $.ajax({
              url: "autocomplete/",
              dataType: "jsonp",
              type: "GET",
              data: req,
              success: function (data) {
                res(data)
              },
              error: function (err) {
                console.log(err.status)
              }
            });
          },
          minLength: 1,
          select: function (event, ui) {
            if (ui.items) {
              $('#searchProduct').text(ui.item.label);
            }
          }
        });
      });
    </script>

</body>

</html>