<section class="cart py-20">
    <% if(session.cart) { %>
    <div class="order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="https://svgsilh.com/svg/151889.svg" class="w-10 block pr-2">
            <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
        </div>
        <% for(let chai of Object.values(session.cart.items)) { %>
        <div class="pizza-list">                
            <div class="flex items-center mt-8 mb-2 cursor-pointer">
                <a class="flex justify-center items-center hover:border-gray-300 hover:bg-gray-200 w-5/12" href="/productDetails/<%= chai.item.categoryName %>/<%= chai.item._id %>">
                        <img class="w-24" src="/img/<%= chai.item.image %>" alt="">
                        <div class="flex-1 ml-4">
                            <h1><%= chai.item.name %></h1>
                            <span class="text-sm"><%= chai.item.price %></span>
                        </div>
                </a>
                <span class="flex-1 items-center mt-1 ml-12">    
                    <button data-chai="<%= JSON.stringify(chai.item) %>" class="border sub-to-cart mr-2 py- px-3 rounded-full items-center text-xl font-bold"> - </button>
                    <span class="flex-1"><%= chai.qty %></span>
                    <button data-chai="<%= JSON.stringify(chai.item) %>" class="add-to-cart ml-2 py- px-3 rounded-full items-center text-xl font-bold"> + </button>
                </span>
                <span class="font-bold text-lg mr-3">₹ <%= chai.item.price * chai.qty %></span>    
            </div>
            <div><button data-chai="<%= JSON.stringify(chai.item) %>" class="remove-to-cart text-red-700 hover:bg-gray-200 py-1 px-2 ml-32">Remove</button></div>
        </div>
        <hr>
        <%  } %>
        <div class="text-right py-6">
            <div>
                <span class="text-sm float-left mt-1">Congrats your <b>Cart</b> is ready to checkout</span>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice %></span>
            </div>
            <% if(user) { %>
            <div class="flex justify-center">
                <a href="/customer/checkout"><button class="btn-primary px-4 py-4 text-white w-full mt-14 rounded-full shadow font-bold">PLACE ORDER</button></a>
            </div>
            <% } else { %>
            <a href="/login"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login
                to continue</a>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
            <p class="text-gray-500 text-lg mb-12">You probably haven't ordered anything yet. <br>
                To order your requirement, go to the main page.</p>
            <!-- <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart"> -->
            <img class="w-2/5 mx-auto" src="/img/Emptycart.gif" alt="empty-cart">
            <a href="/grandHome" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
        </div>
    </div>
    <% } %>
</section>



