<section class="container mx-auto p-8 border flex flex-wrap justify-around">
    
    <% nashta.forEach(function(nashta){ %>

        <a href="/allcategory/products/<%= nashta.pcategory %>">
            <div class="flex flex-col h-min w-52 p-1 border-box bg-white rounded xl m-5 cursor-pointer">
                <img src="/img/<%= nashta.pimage %>" alt="" srcset="">
                <div class="flex border-box p-1 flex-col">
                    <div class="text-center">
                        <%= nashta.pcategory %>
                    </div>
                </div>
            </div>
        </a>

        <% }) %>

</section>



<div><h1 class="heading">Brands</h1></div>

<section class="container mx-auto mb-14 p-8 flex flex-wrap justify-around">       
 <% brand.forEach(function(brand){ %>

 <a href="/brand/<%= brand.subCategory %>">
  <div style="justify-content: center; align-items: center;" class="flex flex-col h-min w-44 p-1 border-box bg-white rounded xl m-5"> 
      <img src="/img/<%= brand.imagename %>" alt="" srcset=""></a>
  </div> 
 </a>
 
 <% }) %>
</section>